:host ::ng-deep accordion-group {

  margin-bottom: 10px;

  .panel-title {
    .btn.btn-link {
      font-size: larger;
    }
  }

}


.jumbotron {
  margin-top: 10px;
}


.btn {
  margin: 4px;
}


.dropzone {

  padding: 60px 0 60px 8px;
  color: #8a8a8b;
  border: 2px dashed #eeeeee;

  @media screen and (max-width: 766px) {
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
  }

  span.info {
    color: #8a8a8b;
  }

  a {
    &:hover {
      span {
        color: #fb6721;
        transition-duration: .3s;
        transition-property: color;
      }
    }
  }

  .row {
    padding-top: 4px;
    padding-bottom: 4px;

    .filename {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &.row--file {

      &.disabled {

        color: #8a8a8b;

        a {
          cursor: auto;
        }

        span {
          color: #8a8a8b;
        }
      }
    }
  }

  .type__upload {
    border: none;
    padding: 0;
    margin-bottom: 8px;

    position: relative;
    text-align: center;
    cursor: pointer;

    input {
      cursor: pointer;
      opacity: 0;
      height: 100%;
      width: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 9999;
    }

    &.disabled {
      cursor: not-allowed !important;
      i, span, input {
        cursor: not-allowed !important;
        color: #8a8a8b;
      }
    }
  }

  &.active {
    background-color: #efefef;
    border: 2px dashed #ccc;

    .fa {
      color: #009eed;
    }
  }

}


.btn-upload {
  margin-top: 20px;
  width: 100%;
}


.row-file-header {

  font-size: larger;
  color: #8a8a8b;

  p {
    border-bottom: 1px solid #8a8a8b;
  }

  span {
    font-size: smaller;
  }
}


.row--file {

  padding-top: 4px;
  padding-bottom: 4px;
  font-size: larger;
  color: #8a8a8b;

  .filename {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }


  .filesize {
    font-size: smaller;
  }


  a {
    margin-left: 8px;

    &:hover {
      color: #fb6721;
      span {
        color: #fb6721;
      }
    }

  }


  &.disabled {

    color: #8a8a8b;

    a {
      cursor: auto;
    }

    span {
      color: #8a8a8b;
    }
  }

}


.row--buttons {
  p {

    font-style: italic;
    font-weight: 300;
    color: #8a8a8b;
    font-size: 20px;
    line-height: 28px;

    @media screen and (min-width: 766px) {
      margin-right: 40px;
      margin-top: 12px;
    }
  }

  .link.link-more {
    margin-top: 9px;
    margin-right: 10px;
  }
}


.row--configuration {
  margin-top: 40px;
  margin-bottom: 20px;

  h3 {
    color: #8a8a8b;
    border-bottom: 1px solid #8a8a8b;
  }
}


form {

  label {
    color: #8a8a8b;
    font-size: larger;
    span {
      font-size: smaller;
    }
  }
}
